# Ignore data files
/Data/*.csv

# Ignore virtual environments
.venv/
__pycache__/

# Ignore .env files
.env

# Ignore Google API JSON files
/config/*.json

# Ignore other potential sensitive files
# You can add more patterns here if needed
